
/*navbar elements */
nav{
	background-color: #f7d000; /* makes the nabar yellow */
	width: 100%;
	height: 55px;
    line-height: 2.5; /*puts text in the center*/
	font-family: Arial, Helvetica, sans-serif;
	color: black;
	-webkit-touch-callout: none;
    -webkit-user-select: none; 
    -khtml-user-select: none; 
    -moz-user-select: none; 
    -ms-user-select: none; 
    user-select: none;
}

/*adds margins around the navbar items 
  and make the color of the text black  */
nav #items a{
	font-family: Arial, Helvetica, sans-serif;
	color: black;
	font-size: 20px;	
    margin-right: 0px;
    padding-right: 30px;
    padding-left: 30px;
    padding-top: 15px;
    padding-bottom: 18px;
}

/*remove the line under the navbar items on hover */
nav #items a:hover{
	background-color: #ceaf08;
	text-decoration: none;
}


nav #items a: hover{
	font-family: Arial, Helvetica, sans-serif;
	color: black;
	font-size: 20px;
	text-decoration: none;
}


/*text in the image "welcome to..."*/
h1{
  /*center text in image*/
  position: absolute;
  top: 50%;
  left: 50%;
  /* prevent user from highlighting text in the image */
   -webkit-touch-callout: none;
    -webkit-user-select: none; 
    -khtml-user-select: none; 
    -moz-user-select: none; 
    -ms-user-select: none; 
    user-select: none;
}


#header{
	position: relative;
  	color: white;
}

/*make sure image fits in page*/
#header img{
	width: 100%;
	height: 200px;
}

/*center text in image*/
#header h1{
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: Arial, Helvetica, sans-serif;
}

/* manages the items in the navbar */
#items{
	float: right; /*put the items to the right of the bar*/
	text-decoration: none;
	list-style: none; /*remove line under links*/
}

span{
	line-height: 4;
}

.fa-caret-down {
	margin-left: 55%!important;
}

#sideBar{
	width: 15%!important;
	left: 0;
	z-index: -1;
	-webkit-touch-callout: none;
    -webkit-user-select: none; 
    -khtml-user-select: none; 
    -moz-user-select: none; 
    -ms-user-select: none; 
    user-select: none;
}

#sideBar a:hover{
	text-decoration: none;
}

a:hover, a:active, a:focus{
	text-decoration: none;
}

table{
	background-color: white;
	width: 100%;
	margin-right: auto;
	margin-left: auto;
}


td, tr{
	border: 2px solid black;
	width: 25%;
	text-align: center;
}

#title{
	left: 50%;
	text-decoration: underline;
	color: white;
}

#active, #active:hover{
	background-color: gray!important;
	cursor: default;
}

section p:nth-child(odd){
	background-color: #c4c4c4;
}

p button{
	height: 40px;
}

p button:nth-child(odd){
	background-color: #34ff34;
	margin-right: 10px;
}

p button:nth-child(even){
	background-color: red;
}

input[type=time]{
	margin-left: 100px;
}

#calendarInterface{
	background-color: white;
	width: 300px;
	margin-left: 40%;
}

.calendar {
  position: relative;
  width: 300px;
  background-color: #fff;
  box-sizing: border-box;
  box-shadow: 0 5px 50px rgba(#000, 0.5);
  border-radius: 8px;
  overflow: hidden;
}

.calendar__date {
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25px, 1fr));
  grid-gap: 10px;
  box-sizing: border-box;
}